/*Google Font: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*For Global*/
*{
    margin: 0;
    padding: 0;
}

/*Color palette*/
:root{
    --primary-clr: #48BF84;
    --secondary-clr: #61D095;
    --flat-green: #D7F3E4;
    --deep-green: #2A4747;
    --medium-green: #439775;
    --light-pink: #FFF2F9;
    --pink-clr:#FF008B;
    --deep-pink:#48072B;
    --light-gray:#F4F6F8;
    --solid-black:#000000;
    --solid-white:#FFFFFF;
}

/* Inside HTML or Body*/
html,body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

/*Inner container*/
.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 33px;
}


/*-----Top header styles-----*/
#header-container{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-top{
    background-color: var(--light-pink);
    padding: 8px 0;
}
.top-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Top header left column*/
.top-header-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-right: 15px;
}
.top-header-left i{
    color: var(--deep-pink);
    font-size: .8em;
    padding-right: 7px;
}
.top-header-left .tips-text{
    color: var(--deep-pink);
    font-size: .7em;
    font-weight: 500;
    font-style: italic;
}
.top-header-left .tips-text span{
    font-weight: bold;
    font-style: initial;
    padding-right: 7px;
}
/*Top header right column*/
.top-header-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}
.top-header-right p{
    font-size: .7em;
    font-weight: 500;
    color: var(--deep-pink);
    cursor: pointer;
}
.top-header-right i{
    color: var(--deep-pink);
    font-size: .8em;
    margin: 0 5px;
    cursor: pointer;
}
.top-header-right .free-space{
    margin: 0 10px;
}
/*//////////////////////////////*/



/*-----Main header styles-----*/
.header-main{
    background-color: var(--solid-white);
    padding: 20px 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.header-main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#brand-logo{
    max-width: 200px;
    height: auto;
}

/*main-nav-style*/
.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-nav ul li{
    list-style-type: none;
}
.main-nav ul li a{
    text-decoration: none;
    margin: 0px 20px;
    color: var(--deep-green);
    font-weight: 500;
    position: relative;
    transition: color 300ms ease;
    cursor: pointer;
}
.main-nav ul li a::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    left: 50%;
    bottom: -5%;
    background-color: var(--primary-clr);
    transform: translateX(-50%);
    transition: width 300ms ease;
}
.main-nav ul li a:hover{
    color: var(--primary-clr);
}
.header-main ul li a:hover::after{
    width: 50%;
}
.main-nav ul li a i{
    margin-left: 5px;
}
#active{
    color: var(--primary-clr) !important;
}
/*secondary style*/
.secondary-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.secondary-nav i{
    font-size: 1.1em;
    color: var(--deep-green);
    cursor: pointer;
}
.secondary-nav i:nth-child(2){
     margin: 0px 35px;
}
.shopping{
    position: relative;
    cursor: pointer;
}
.shopping .item{
    position: absolute;
    width: 19px;
    height: 19px;
    right: -50%;
    top: -35%;
    border-radius: 5em;
    background-color: var(--primary-clr);
    font-size: .8em;
    color: var(--solid-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-nav .header-login-btn{
    padding: 5px 30px;
    border: none;
    background-color: var(--primary-clr);
    color: var(--solid-white);
    border-radius: 5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}
.secondary-nav .header-login-btn::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    right: 0%;
    bottom: 0;
    background-color: var(--secondary-clr);
    z-index: -1;
    transition: width 300ms ease-in;
}
.secondary-nav .header-login-btn:hover::after{
    width: 100%;
    left: 0%;
}

/*//////////////////////////////*/



/*-----Hero section styles-----*/
.hero-bg-container{
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,.7), rgba(0,0,0,0.3), rgba(72,191,132,0.8)), url("/images/hero_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-wrapper{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*hero-section-left-content*/
.hero-left{
    flex-basis: 55%;
    padding-top: 50px;
}
.hero-left h1{
    font-size: 2.8em;
    font-weight: 700;
    color: var(--light-gray);
    text-transform: uppercase;
    text-shadow: 0px 10px 65px rgba(0,0,0,1);
    line-height: 60px;
}
.hero-left h1 span{
    color: var(--secondary-clr);
}
.hero-left p{
    color: var(--light-gray);
    font-weight: 300;
    text-shadow: 0px 10px 65px rgba(0,0,0,1);
    padding-right: 100px;
    padding-top: 10px;
}

.hero-btn{
    padding: 6px 25px;
    margin-top: 60px;
    font-family: 'Poppins',sans-serif;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid var(--light-gray);
    border-radius: 5em;
    color: var(--light-gray);
    cursor: pointer;
    transition: all 300ms ease;
}
.hero-btn i{
    margin-left: 5px;
}
.hero-btn:hover{
    letter-spacing: 2px;
    color: var(--secondary-clr);
}

/*hero-section-right-play-button*/
.hero-right .outer-ring{
    border: 1px solid rgba(255,255,255, .1);
    background-color:transparent;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
}
.hero-right .outer-ring::before{
    position: absolute;
    content: "";
    background-color:transparent;
    border: 1.5px solid rgba(255,255,255, .3);
    width: 400px;
    height: 400px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    animation: outer-ring 4s infinite linear;
}
@keyframes outer-ring {
    0%{
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        height: 400px;
        width: 400px;
        opacity: 0;
    }   
}
.hero-right .inner-ring{
    background-color:rgba(255,255,255, .2);
    border: none;
    width: 200px;
    height: 200px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.hero-right .second-ring{
    background-color:transparent;
    border: none;
    width: 90px;
    height: 90px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}
.hero-right .second-ring::before{
    content: "";
    background-color:rgba(255,255,255, .3);
    border: none;
    width: 120px;
    height: 120px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: -3;
    animation: second-ring 3.5s  5s infinite linear;
}
@keyframes second-ring {
    0%{
        height: 70px;
        width: 70px;
        opacity: 0;
    }
    50%{
        height: 100px;
        width: 100px;
        opacity: 1;
    }
    100%{
        height: 70px;
        width: 70px;
        opacity: 0;
    }   
}
.hero-right .primary-ring{
    background-color: var(--primary-clr);
    border: none;
    width: 60px;
    height: 60px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    overflow: hidden;
}
.hero-right .primary-ring::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    right: 0%;
    bottom: 0;
    background-color: var(--secondary-clr);
    z-index: -3;
    transition: width 300ms ease-in;
}
.hero-right .primary-ring:hover::after{
    width: 100%;
    left: 0%;
}
.hero-right .fa-play{
    font-size: 1.5em;
    color: var(--solid-white);
    left: 53%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

/*//////////////////////////////*/

/*-----Working process section styles-----*/
.process-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    padding-bottom: 120px;
}
.process-card{
    flex-basis: 27%;
    display: flex;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    padding: 30px 20px;
}
.icon{
    min-width: 80px;
    height: 80px;
    background-color: var(--flat-green);
    position: relative;
    border-radius: 50%;
}
.icon i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.9em;
    color: var(--primary-clr);
}
.process-card-content{
    padding-left: 20px;
}
.process-card-content h3{
    font-size: 1.05em;
    color: var(--deep-green);
}
/*//////////////////////////////*/